<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/help.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Help Page</title>
</head>
<body>
    <header>
        <div class="navbar">
            <h2 class="logo">Thyroid Disease Prediction Model</h2>
            <div class="navlink">
                <a href="/home">Home</a><hr>
                <a href="/help">Help</a><hr>
            </div>
        </div>
        
    </header>

    <div class="image">
        <img src="../static/thyroid.jpg" alt="image">
    </div>

    <div class="heading">
        <h2>Thyroid gland</h2>
    </div>
    <div class="content">
        <span>The thyroid gland is a vital hormone gland: It plays a major role in the metabolism, 
            growth and development of the human body. It helps to regulate many body functions by 
            constantly releasing a steady amount of thyroid hormones into the bloodstream.</span>
    </div>

    <div class="heading">
        <h2>Thyroid disease</h2>
    </div>
    <div class="content">
        <span>Problems with the thyroid include a variety of disorders that can result in the gland 
            producing too little thyroid hormone (hypothyroidism) or too much (hyperthyroidism). Thyroid 
            disorders can affect heart rate, mood, energy level, metabolism, bone health, pregnancy and 
            many other functions..</span>
    </div>

    <div class="heading">
        <h2>What is Hyperthyroidism?</h2>
    </div>
    <div class="content">
        <span>Hyperthyroidism happens when the thyroid gland makes too much thyroid hormone. 
            This condition also is called overactive thyroid. Hyperthyroidism speeds up the body's metabolism. 
            That can cause many symptoms, such as weight loss, hand tremors, and rapid or irregular heartbeat.</span>
    </div>

    <div class="heading">
        <h2>What is Hypothyroidism?</h2>
    </div>
    <div class="content">
        <span>Hypothyroidism is termed primary when the thyroid gland itself is not able to produce 
            adequate amounts of thyroid hormone. The less common, secondary, or central hypothyroidism 
            is labeled when the thyroid gland itself is normal, and the pathology is related to the pituitary 
            gland or hypothalamus. Major symptoms include fatigue, cold sensitivity, constipation, dry skin and 
            unexplained weight gain.</span>
    </div>

    <div class="heading">
        <h2>Free thyroxine index (FTI)</h2>
    </div>
    <div class="content">
        <span>The free T4 index (FTI) is a blood test used to diagnose thyroid disorders. 
            T4, also called thyroxine, is a thyroid hormone. The test measures how much of 
            it is in your blood to help determine whether your thyroid gland is underactive 
            (hypothyroidism) or overactive (hyperthyroidism).</span>
    </div>

    <div class="heading">
        <h2>Triiodothyronine (T3)</h2>
    </div>
    <div class="content">
        <span>Triiodothyronine (T3) is a hormone produced by the thyroid gland. T3 helps regulate: 
            Weight, Energy levels, Internal temperature, Skin, Hair, Nail growth, Metabolism, Muscle control, 
            Brain function and development. If your results show high total T3 levels or high free T3 levels, 
            it may mean you have hyperthyroidism. Low T3 levels may mean you have hypothyroidism, a condition 
            in which your body doesn't make enough thyroid hormone. T3 test results are often compared with T4 
            and TSH test results to help diagnose thyroid disease.
            </span>
    </div>

    <div class="heading">
        <h2>Thyroid Stimulating Hormones (TSH)</h2>
    </div>
    <div class="content">
        <span>Thyroid-stimulating hormone (TSH) is a hormone that causes the thyroid to release hormones. 
            A TSH test measures how well your thyroid is functioning. A normal TSH level is between 0.4 and 4.0 
            milliunits per liter (mU/L). A high TSH level, above 4.5 mU/L, indicates an underactive thyroid, 
            also known as hypothyroidism. This means your body is not producing enough thyroid hormone. </span>
    </div>


    <div class="heading">
        <h2>Thyroxine hormone (T4)</h2>
    </div>
    <div class="content">
        <span>Thyroxine (T4) is a hormone produced by the thyroid gland. It's also known as tetraiodothyronine. 
            T4 and triiodothyronine (T3) are commonly referred to as "thyroid hormone". 
            Here are some reference ranges for total thyroxine (TT4): <br>
            Newborns up to age 14 days: 152-292 nmol/L <br>
            Babies and older children: 83-172 nmol/L <br>
            Adults: 57-148 nmol/L
            </span>
    </div>

    <div class="heading">
        <h2>How model works?</h2>
    </div>
    <div class="content">
        <span>Thyroid disease prediction model, predicts the result either positive or negative based on the values
            asked by the model. It takes the value in units as follows: <hr>
            FTI value: numeric value <hr>
            T3 value: numeric value in (nmol/L) units. <hr>
            TSH value: numeric value in (mlU/L) units.<hr>
            T4 value:  numeric value in (ng/dL) units. <hr>
        </span>
    </div>
    
    <div class="heading">
        <h2></h2>
    </div>
    <div class="content">
        <span></span>
    </div>


    <footer><h4>&copy Model developed By Ravi Yadav  <br> 
        Note: This website is just for study purpose not for production/commercial reasons.</h4></footer>
</body>
</html>