<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="http-equiv" content="ie-edge">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

</head>
<script src="../static/home.js"></script>
<body>
    <header>
        <div class="navbar">
            <h2 class="logo">Thyroid Disease Prediction Model</h2>
            <div class="navlink">
                <a href="/home">Home</a><hr>
                <a href="/help">Help</a><hr>
            </div>
        </div>
    </header>

    <div class="info">
        <span>&#8505;  Please keep the value empty if any test value is not available.</span>
    </div>

    <div id="form-border">
        <form action="{{ url_for('predict_datapoint')}}" method="post">

           
            <div>
                <label for="">FTI value: </label>
                <input type="text" id="fti-value" name="fti" placeholder="Enter numeric value"/>
            </div>

            <div>
                <label for="">T3 value: </label>
                <input type="text" id="t3-value" name="t3" placeholder="Enter numeric value"/>
            </div>

            <div>
                <label for="">TSH value: </label>
                <input type="text" id="tsh-value" name="tsh" placeholder="Enter numeric value"/>
            </div>

            <div>
                <label for="">T4 value: </label>
                <input type="text" id="tt4-value" name="tt4" placeholder="Enter numeric value"/>
            </div>

            
            <div class="submit-button">
                <input type="submit" value="Submit"/>
            </div>
        </form>


        <div class="prediction" id="prediction">
            <h2>{{results}}</h2>
        </div>
    </div>
    <footer><h4>&copy Model developed By Ravi Yadav <br> 
        Note: This website is just for study purpose not for production/commercial reasons.</h4></footer>
</body>